 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding:10px;
  height: 400px;
  width: 300px;
}

#city {
  border-radius: 10%
}

.read-the-docs {
  color: #888;
}


